[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-cors = "*"
python-dotenv = "*"
mongoengine = "*"
pymongo = "*"
tendo = "*"
blinker = "*"
friendlylog = "*"
blessings = "*"
python-dateutil = "*"
flask-add-ons = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
